<section clas="dashbord-wrapper">
  <!-- 4-box -->
  <div class="container-card">
    <div class="box">
      <div class="box-body">
        <div class="image">
          <img src="../../../../assets/images/template.svg" alt="template">
        </div>
        <div class="box-text">
          <h1>21</h1>
          <p>Templates</p>
        </div>
      </div>
    </div>
    <!-- assets -->
    <div class="box">
      <div class="box-body">
        <div class="image assets-image-bg">
          <img src="../../../../assets/images/assets.svg" alt="template">
        </div>
        <div class="box-text">
          <h1>155</h1>
          <p>Assets</p>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="box">
      <div class="box-body">
        <div class="image">
          <img src="../../../../assets/images/active-worker.svg" alt="template">
        </div>
        <div class="box-text">
          <h1>290</h1>
          <p>Templates</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-body">
        <div class="image">
          <img src="../../../../assets/images/active-task.svg" alt="template">
        </div>
        <div class="box-text">
          <h1>21</h1>
          <p>Templates</p>
        </div>
      </div>
    </div>
  </div>
  <!-- chart -->
  <!-- <div class="chart-wrapper">
    <div class="chart">
      <p>abba</p>
    </div>
    <div class="tasks">
      <p>dfbb</p>
    </div>
  </div> -->
</section>
