.cancel-btn {
  color: #fff;
  background-color: #424a52 !important;
  border: 1px solid #424a52;
}

.active {
  border: 1px solid red;
}

.addNameFlex {
  border: 1px solid #d3d3d3 !important;
  border-radius: 3px;
  background-color: transparent;
  height: 36px;
  padding: 8px 0px 0px 10px !important;
  min-width: 270px;
}

.input-error {
  border: red 1px solid !important;
}
