table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.main-wrapper
  .circle-sidebar
  .mat-drawer-container
  .template-box
  .template-table
  table
  tbody
  tr
  td {
  line-height: 17px !important;
}

.addWorkerModelName {
  border: 1px solid #d3d3d3 !important;
  border-radius: 3px;
  background-color: transparent;
  height: 36px;
  padding: 8px 0px 0px 10px !important;
  margin-bottom: 10px;
}

.input-error {
  border: 1px solid #f44336 !important;
}
