::ng-deep .mat-input-underline {
  display: none;
}
::ng-deep .mat-form-field-underline {
  display: none;
}

mat-expansion-panel-header.mat-expanded mat-panel-title span img {
  transform: rotateZ(180deg);
}
mat-expansion-panel-header.mat-expanded mat-panel-title span img {
  transform: rotateZ(180deg);
}

.inActive {
  font-family: circular-bold;
  color: rgba(66, 74, 82, 0.6);
  border-color: none;
  transition: 0.5s all ease;
}

.title-header {
  margin-left: 0px !important;
}

.position-span {
  display: inline-block !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.btn-position {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 14px !important;
}
