<div [class]="isAssets ? 'add-btnbox addButton2' : 'add-btnbox'">
  <button (click)="add()" mat-button type="button" class="add-btn">
    <span><img src="../../../../assets/images/plus.svg" alt=""></span>
    Add
  </button>
</div>
<div class="template-table template-table2 p-0">
  <!-- <div class="general-box">
    <div class="Equipment-contmain">
        <div class="Equipment-contbox m-0">
          <div class="Equipment-cont">
            <h5>PPE ID</h5>
          </div>
          <div class="Equipment-form">
            <mat-form-field
              [floatLabel]="'never'"
              appearance="none"
              class="example-full-width"
            >
              <input
                type="text"
                matInput
                placeholder="AHDJA83293A"
              />
            </mat-form-field>
          </div>
        </div>
    </div>
  </div> -->

  <div class="template-table pump-table mb-4">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- SequnceNumber Column -->
      <ng-container matColumnDef="sequenceNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          PPE ID
        </th>
        <td mat-cell *matCellDef="let element">{{ element.sequenceNumber }}</td>
      </ng-container>

      <!-- Protective Equipment Column -->
      <ng-container matColumnDef="protectiveEquipment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Protective Equipment <span style="color:red">*</span></th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <span *ngIf="!element.edit">{{ element.protectiveEquipment }}</span>
          <span *ngIf="element.edit">
            <!-- <input type="text" [(ngModel)]="element.protectiveEquipment" (keyup.enter)="submit(i)" placeholder="Add Task..."  required /> -->
            <input matInput #protectiveEquipment="ngModel" name="txtprotectiveEquipment{{i}}" (keyup.enter)="submit(i)"
              autocomplete="off" placeholder="Add Equipment..." [(ngModel)]="element.protectiveEquipment" required>
          </span>
          <mat-error *ngIf="protectiveEquipment?.invalid">
            <div *ngIf="protectiveEquipment.errors.required">Equipment is required</div>
          </mat-error>
        </td>
      </ng-container>

      <!-- Mandatory Column -->
      <ng-container matColumnDef="mandatory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mandatory</th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <span *ngIf="!element.edit">{{ element.mandatory | titlecase }}</span>
          <span *ngIf="element.edit">
            <mat-form-field [floatLabel]="'never'" appearance="none" appearance="fill">
              <mat-select appearance="none" name="food" multiple="false" [(ngModel)]="element.mandatory"
                (keyup.enter)="submit(i)">
                <mat-option *ngFor="let value of PPEMandatories" [value]="value.toLocaleLowerCase()">
                  {{ value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <a (click)="onEditClick(element, i)">
            <span><img src="../../../../assets/images/edit.svg" class="img-fluid" alt="" /></span>
          </a>
          <a (click)="confirmDialog(element)">
            <span><img src="../../../../assets/images/cancel.svg" class="img-fluid" alt="" /></span>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
